@charset "UTF-8";

*{
    box-sizing: border-box;
}

html{
    -webkit-text-size-adjust: 100%;
}

body{
	margin-top: 0;
}

.header{
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #fff;
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #000;
	margin-bottom: 10px;
	line-height: 40px;
}
.header p{
	display: inline;
	margin: 2px 0 8px 10px;
}
.header .margin{
	margin-left: 10px;
}
.header .right{
	position: absolute;
	right: 0;
}

hr{
	width: 100%;
}

img, input, select, textarea{ 
    vertical-align: middle;
}

.area{
	display: flex;
	align-items: flex-start;
}


/* タブ分け */
.list{
    width: 75%;
    flex-wrap: wrap;
    display: flex;
	align-items: stretch;
}
.tab_class{
    width: calc(770px/3);
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}

input[name="tab_name"]{
    display: none;
}
 
input:checked + .tab_class{
    background-color: cadetblue;
    color: aliceblue;
}
 
.content_class{
    display: none;
    width: 100%;
	min-height: 220px;
	margin-top: 0;
  	padding-top: 5px;
}
.content_class p{
    width: 100%;
	margin: 20px 0 10px 0;
}
 
input:checked + .tab_class + .content_class{
    display: flex;
    flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

/* hoverでボタン表示*/
.img-contents{
    position: relative;
    width: 150px;
    height: 215px;
    margin: 5px 5px 0 0;
    overflow: hidden;
    z-index: 0;
}
.tab-img{
	margin: 0;
    padding: 0;
}
.tab_img:hover{
	opacity: 0.8;
}
.tab-img img{
    width: 150px;
    height: 215px;
}
.img-contents .tab-btn{
	display: flex;
	justify-content: space-between;
	align-items: center;
    position: absolute;
    width: 100%;
    height: 25%;
    top: 100%;
    left: 0;
    margin-top: 161px;
    padding: 2px 4px;
    color: #fff;
    background-color: #fff;
    opacity: 0.7;
    transition: .50s ease-out;
}
.img-contents:hover .tab-btn{
    top: 0;
}
.tab-btn button{
	border: none;
}
.tab-btn button:hover{
	opacity: 0.8;
}
.tab-btn button:active{
	transform: translate(0, 0.5px);
}
.tab-btn img{
	width: 35px;
}


/* ポップアップの中身 */
.popup_bg{
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  width: 100%;
	  height: 100vh;
	  background: rgba(64,73,82,0.8);
	  transition: 0.4s;
	  z-index: 101;
}
.popup_content{
	  position: relative;	
}
.popup{
	  display: flex;
	  margin-top: 35px;
}
.popup img{
	  width: 400px;
}
.popup_box{		
	  display: none;	
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translateX(-50%) translateY(-50%);
	  z-index: 110;
	  width: 1200px;
	  height: 700px;
	  background: #fff;
	  border-radius: 6px;				
	  padding: 20px 20px 20px 40px;
}
.popup_text{
	  width: 715px;
	  margin: 0 45px 0 20px;
}
.popup_text ruby{
	width: 100%;
	font-size: 25px;
	font-weight: bold;
}
.popup_text ruby span{
	font-size: 17.5px;
	font-weight: normal;
	margin-left: 20px;
}
.popup_text ul{
	  margin: 10px 0 0 0;
	  padding-left: 20px;
}
.popup_text ul li{
	margin-bottom: 5px;
}
.popup_text h3{
	  margin-top: 10px;
	  margin-bottom: 0;
}


/* 閉じるボタン */
.popup_close{
	  width: 40px;
	  height: 40px;
	  cursor: pointer;
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  z-index: 120;
}  
.popup_close span {
	  display: block;
	  overflow: hidden;
	  white-space: nowrap;
	  text-indent: 100%;
	  width: 40px;
	  height: 2px;
	  background: #434c55;
	  position: absolute;
	  left: 50%;
	  top: 50%;
}	
.popup_close span:nth-child(1){
	  transform: translate(-50%, 50%) rotate(45deg);
}	
.popup_close span:nth-child(2){
	  transform: translate(-50%, 50%) rotate(-45deg);
}


/* デッキリスト */
.deck{
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
}
.deck-list h2{
	width: 100%;
	margin: 0 0 5px 0;
}
.deck-list{
	width: 100%;
}
.cardQty{    
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: white;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

#addListArea{
	display: flex;
	flex-wrap: wrap;
}